In [1]:
# Try direct import first
import sys
sys.path.append('src')

from marianb import load_ipython_extension
load_ipython_extension(get_ipython())

üöÄ Loading Marianb - MariaDB Hackathon Edition v0.1.0
‚úÖ Marianb loaded successfully!
   üìù Use %mariadb for single-line queries
   üìÑ Use %%mariadb for multi-line queries
   üéØ Example: %mariadb SELECT VERSION()
   üèÜ Ready for MariaDB Hackathon!

In [1]:
# Cell 1: Set up environment
import os
os.environ['MARIADB_HOST'] = 'localhost'
os.environ['MARIADB_USER'] = 'root'
os.environ['MARIADB_PASSWORD'] = 'hackathon123'  # or '' if no password
os.environ['MARIADB_DATABASE'] = 'marianb_test'

In [2]:
import sys
sys.path.append('src')

from marianb import load_ipython_extension
load_ipython_extension(get_ipython())

üöÄ Loading Marianb - MariaDB Hackathon Edition v0.1.0
‚úÖ Marianb loaded successfully!
   üìù Use %mariadb for single-line queries
   üìÑ Use %%mariadb for multi-line queries
   üéØ Example: %mariadb SELECT VERSION()
   üèÜ Ready for MariaDB Hackathon!

In [3]:
%mariadb SELECT VERSION() as version, 'Hackathon Ready!' as status

/Users/beck3tt/Documents/work/mariaNB/src/marianb/magic.py:93: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, conn)

          version            status
0  12.0.2-MariaDB  Hackathon Ready!

In [4]:
%%mariadb -df results
SELECT 
    'MariaDB' as database_type,
    VERSION() as version,
    DATABASE() as current_db,
    USER() as user_info,     # ‚Üê Changed alias
    NOW() as timestamp

‚úÖ Result stored in variable 'results'

/Users/beck3tt/Documents/work/mariaNB/src/marianb/magic.py:93: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, conn)

,database_type,version,current_db,user_info,timestamp
0,MariaDB,12.0.2-MariaDB,marianb_test,root@localhost,2025-08-31 03:30:47

In [5]:
results

,database_type,version,current_db,user_info,timestamp
0,MariaDB,12.0.2-MariaDB,marianb_test,root@localhost,2025-08-31 03:30:47

In [7]:
print("üöÄ MARIANB: The Future of Database-Driven Data Science")
print("=" * 60)

# Show current capabilities
%mariadb SELECT 'MariaDB 12.0.2' as version, 'Hackathon Ready!' as status

# Create impressive business scenario
%%mariadb
CREATE TABLE IF NOT EXISTS ai_startup_metrics (
    id INT AUTO_INCREMENT PRIMARY KEY,
    company VARCHAR(100),
    metrics JSON,
    funding_round VARCHAR(50),
    valuation_millions DECIMAL(10,2)
);

INSERT INTO ai_startup_metrics VALUES
(1, 'VectorAI Corp', '{"employees": 150, "customers": 5000, "mrr": 500000, "tech_stack": ["MariaDB", "Python", "React"]}', 'Series B', 250.0),
(2, 'DataFlow Systems', '{"employees": 85, "customers": 2500, "mrr": 300000, "tech_stack": ["MariaDB", "Node.js", "Vue"]}', 'Series A', 120.0),
(3, 'ML Innovations', '{"employees": 200, "customers": 8000, "mrr": 750000, "tech_stack": ["MariaDB", "Python", "Angular"]}', 'Series C', 500.0);

# THE MONEY SHOT: Advanced MariaDB JSON + Instant Business Intelligence
%%mariadb -df startup_intelligence --plot bar
SELECT 
    company,
    JSON_EXTRACT(metrics, '$.employees') as team_size,
    JSON_EXTRACT(metrics, '$.mrr') / 1000 as monthly_revenue_k,
    valuation_millions,
    ROUND(valuation_millions / (JSON_EXTRACT(metrics, '$.employees')), 2) as value_per_employee
FROM ai_startup_metrics 
ORDER BY valuation_millions DESC;

# Show the magic in action
print(f"üìä Analysis Complete: {len(startup_intelligence)} companies analyzed")
print(f"üí∞ Total Market Cap: ${startup_intelligence['valuation_millions'].sum()}M")
print(f"üë• Average Team Size: {startup_intelligence['team_size'].mean():.0f} employees")
print("\nüéØ FROM MARIADB TO BUSINESS INSIGHTS IN SECONDS!")
print("üèÜ This is what makes Marianb special - turning data into decisions instantly!")

SyntaxError: invalid syntax (1767710738.py, line 9)

In [8]:
# CORRECT format:
%%mariadb
CREATE TABLE IF NOT EXISTS ai_startup_metrics (
    id INT AUTO_INCREMENT PRIMARY KEY,
    company VARCHAR(100),
    metrics JSON,
    funding_round VARCHAR(50),
    valuation_millions DECIMAL(10,2)
);

SyntaxError: invalid syntax (526110075.py, line 3)

In [9]:
%mariadb SELECT 'MariaDB Hackathon' as project, VERSION() as version

             project         version
0  MariaDB Hackathon  12.0.2-MariaDB

In [10]:
%%mariadb
CREATE TABLE IF NOT EXISTS ai_startup_metrics (
    id INT AUTO_INCREMENT PRIMARY KEY,
    company VARCHAR(100),
    metrics JSON,
    funding_round VARCHAR(50),
    valuation_millions DECIMAL(10,2)
)

'‚úÖ Query executed successfully. 0 rows affected.'

In [11]:
%%mariadb
INSERT INTO ai_startup_metrics VALUES
(1, 'VectorAI Corp', '{"employees": 150, "customers": 5000, "mrr": 500000}', 'Series B', 250.0),
(2, 'DataFlow Systems', '{"employees": 85, "customers": 2500, "mrr": 300000}', 'Series A', 120.0),
(3, 'ML Innovations', '{"employees": 200, "customers": 8000, "mrr": 750000}', 'Series C', 500.0)

'‚ùå Error executing query: Failed to get connection: No connection available'